@using Factory.Models;
@model List<Factory.Models.Engineer>;
@if (@ViewBag.Engineers.Count == 0)
{<div>hello</div>}
else
{
  @Html.Label("Engineers:")
  <ul>
    @foreach (Engineer engineer in (ViewBag.Engineers))
    {
      <li>
        @Html.ActionLink($"{engineer.EngineerName}", "Read", "Engineers", new { id = engineer.EngineerId})
      </li>
    }
  </ul>
}