@using Factory.Models;
@model List<Factory.Models.Machine>;
@if (@ViewBag.Machines.Count == 0)
{<div>hello</div>}
else
{
  @Html.Label("Machines:")
  <ul>
    @foreach (Machine machine in (ViewBag.Machines))
    {
      <li>
        @Html.ActionLink($"{machine.MachineName}", "Read", "Machines", new { id = machine.MachineId})
      </li>
    }
  </ul>
}