@using Factory.Models;
@model List<Factory.Models.Machine>;
@if (@ViewBag.Machines.Count == 0)
{<div>hello</div>}
else
{

<table>
  <tr>
    <th>ID#</th>
    <th>Name</th>
  </tr>
    @foreach (Machine machine in (ViewBag.Machines))
    {
      <tr>
        <td>
          @machine.MachineId
        </td>
        <td>
          @Html.ActionLink($"{machine.MachineName}", "Read", "Machines", new { id = machine.MachineId})
        </td>
      </tr>
    }
  </table>
}